@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #f36f21;
    font-family: "Poppins", sans-serif;
    background-color: #000000; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* VERIFY */

.page-container {
     width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.verify-card {
    width: 700px;
    background: #121212;
    padding: 60px;
    border-radius: 40px;
    text-align: center;
    box-shadow:  0 0 20px rgba(243, 111, 33, 0.4), 
                0 0 40px rgba(243, 111, 33, 0.2), 
                0 0 80px rgba(243, 111, 33, 0.1);
}

.subtitle {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 40px;
}

.otp-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
}

.otp-box {
    width: 80px;
    height: 80px;
    border: 2px solid #ddd;
    border-radius: 15px;
    font-size: 24px;
    text-align: center;
    background: white;
}

.resend-link {
    display: block;
    color: #f36f21;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 25px;
}

.resend-link:hover {
    text-decoration: underline;
    text-decoration-color: #ff8c00;
    text-decoration-thickness: 2px;  /* thicker underline */
    text-underline-offset: 3px;
}

.primary-btn {
    width: 140px;
    padding: 12px;
    background-color: #f36f21; /* Vibrant green */
    color: white;
    border: none;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
    margin: 20px 0;
}

.primary-btn:hover { 
	background-color: rgb(215, 75, 0); 
}