body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    display: flex;
    background-color: #111111;
    height: 100vh;
    overflow: hidden;
}

/* SIDEBAR STYLES */
.sidebar {
    width: 220px;
    background-color: #0b0b0b;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.profile-section {
    display: flex;
    align-items: center; 
    gap: 12px;           
    margin-bottom: 10px;
}

.profile-link {
	text-decoration: none;
    display: flex;
    align-items: center;
}

.profile-pic-default img{
	width: 26px;           /* fixed size */
    height: 26px;
    padding: 3px;
    border: 2px solid #ff8c00;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s ease;
    display: flex;
}

.profile-pic-default img:hover {
    transform: scale(1.1);
    border-color: #ffa500;
}

.manager-text {
    color: #ff8c00;
    font-size: 16px;
    font-weight: bold;
}

.divider {
	width: 100%;
    border: 1px solid #ff8c00;
    margin-bottom: 20px;
}

.nav-menu { 
	flex-grow: 1; }

.nav-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    margin-bottom: 8px;
    border-radius: 10px;
    font-size: 16px;
    transition: 0.3s;
}

.nav-icon {
    width: 20px; /* This prevents the huge icons */
    height: 20px;
    margin-right: 12px;
}

.nav-item:hover { background-color: #222; }

.nav-item.active {
    border: 1.5px solid #ff8c00;
    background-color: #1a1a1a;
    font-weight: bold;
}

.logout-section{
	display: flex;
    align-items: center;
    padding: 10px 20px;   /* Reduced top/bottom padding */
    margin-top:auto;   /* Reduced top/bottom padding */
    margin-bottom: 40px;
}

.nav-icon-logout {
    display: flex;
    align-items: center;
    color: #ff8c00;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
}

a.nav-icon-logout {
    display: flex;
    align-items: center;
}

.nav-icon-logout img {
    width: 23px;
    height: 23px;
    padding: 0;           /* Removed the heavy top/bottom padding */
    margin-right: 12px;   /* Space between icon and text */
}


/* MAIN CONTENT STYLES */
.main-content {
    flex-grow: 1;
    padding: 40px;
    display: flex;
}

.content-box {
    background-color: #0b0b0b;
    border-radius: 20px;
    padding: 30px;
    flex: 1;                      /*fills remaining space */
    display: flex;
    flex-direction: column;
    overflow: hidden; 
}

.page-title { 
	color: white; 
	margin: 0px; 
	font-size: 24px; 
}

.page-desc {
    color: #9e9e9e;
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 0px;
}

.page-info {
    color: white;
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 0px;
}

.info-group{
	display: flex;
	flex-direction: row;
}

.package-id{
	margin-right: 15px;
}

.update-btn {
    background-color: #0047ff;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-family: "Poppins";
    font-weight: bold;
}

.update-btn:hover { 
	background-color: #0036CC; 
}

.toolbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filter-btn {
    background-color: #333;
    color: white;
    border: none;
    padding: 8px 18px;
    border-radius: 20px;
    margin-right: 8px;
    cursor: pointer;
    font-weight: bold;
}

.filter-btn.active { background-color: #ff8c00; }
.filter-btn:hover:not(.active) { background-color: #444; }

.action-group{
	display: flex;
    justify-content: center;
    align-items: center;
}

.generate-btn {
    background-color: #00a629;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-family: "Poppins";
    font-weight: bold;
}

.generate-btn:hover { 
	background-color: #008A22; 
}

.search-container {
    background-color: white;
    border-radius: 20px;
    padding: 8px 12px;
    display: inline-flex;
    margin-left: 10px;
}
.add-btn {
    background-color: #00c853;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-family: "Poppins";
    font-weight: bold;
}

.add-btn:hover { 
	background-color: #00e676; }

.search-container {
    background-color: white;
    border-radius: 20px;
    padding: 8px 12px;
    display: inline-flex;
    margin-left: 10px;
}

.search-container img{
	width: 15px;
	height: 15px;
	display: flex;
    justify-content: center;
    align-items: center;
}

.search-input { 
	border: none; 
	outline: none; 
	margin-left: 5px; 
	width: 100px;
	display:flex;
	justify-content: center;
    align-items: center;
}

input::placeholder{
	color: #6c6c6c;
	font-size: 14px;
}

.form-box {
  background: #fff;
  color: #000;
  border-radius: 12px;
  padding: 0px 20px 20px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: start;
}

.type-title {
  margin-bottom: 8px;
}

.form-section p {
	margin-top: 0px; 
 	margin-bottom: 8px;
 	font-size: 13px;
 	color: #474646;
}

.form-section label {
  display: block;
  margin-bottom: 8px;
}

.date-title {
  margin-bottom: 3px;
}

.report-date input[type="date"] {
  width: 40%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* Button */
.generate-btn {
  grid-column: span 2;
  justify-self: end;
  padding: 8px 15px;
  background: #00A629;
  border: none;
  border-radius: 20px;
  color: #fff;
  font-weight: 600;
  font-family: "Poppins";
  cursor: pointer;
  transition: all 0.3s ease;
}

.return-btn {
    background-color: #00a629;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-family: "Poppins";
    font-weight: bold;
}

.return-btn:hover { 
	background-color: #008A22; 
}

/* TABLE STYLES */
.table-group{
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.table-title{ 
	color: white; 
	font-size: 18px; 
	margin: 0px;
}

.table-wrapper {
    background-color: #ffffff;
    border-radius: 10px;
    border: 3px solid #6c6c6c; /* stroke weight 3 */
    overflow: hidden;
    table-layout: fixed;
}

.equipment-table { 
	width: 100%;
	/*height: 100%; */
	border-collapse: collapse; 
}

.equipment-table th {
    background-color: #333;
    color: #ccc;
    padding: 12px;
    text-align: left;
    font-size: 14px;
}

.package-table { 
	width: 100%;
	/*height: 100%; */
	border-collapse: collapse; 
}

.package-table th {
    background-color: #333;
    color: white;
    padding: 12px;
    text-align: left;
    font-size: 14px;
}

.report-table { 
	width: 100%;
	/*height: 100%; */
	border-collapse: collapse; 
}

.report-table th {
    background-color: #333;
    color: white;
    padding: 12px;
    text-align: left;
    font-size: 14px;
}

.report-table th, td {
  padding: 12px 16px;
  text-align: left;
  vertical-align: middle;
}

.body-row tr {
	background-color: white;
	height: 40px;
	font-size: 14px;
    text-align: left;
}

.muted {
  color: #6c6c6c;
}

.quantity-input {
  width: 80px;
  padding: 6px;
  border-radius: 10px;
  border: 1px solid #717376;
  text-align: left;
}

.quantity-input:focus{
	border: 1px solid #3c3c3c;
}

.package-table th, td {
  padding: 12px 16px;
  text-align: left;
  vertical-align: middle;
}

package-table th.newQty, td.newQty {
  text-align: right;
}
.equipment-table th, td {
  padding: 12px 16px;
  text-align: left;
  vertical-align: middle;
}

equipment-table th.newQty, td.newQty {
  text-align: right;
}

.event-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    background: #ffffff;
}

/* TABLE HEADER */
.event-table thead {
    background-color: #3a3a3a;
}

.event-table thead th {
    color: #ffffff;
    font-weight: 600;
    padding: 16px;
    text-align: left;
}

/* TABLE BODY */
.event-table tbody td {
    padding: 16px;
    color: #111;
    font-weight: 400;   /* NORMAL text */
    font-size:14px;
}


/* EVENT ID (E001, E002, E003) */
.event-table tbody td:first-child strong {
    color: #ff8c00;   /* orange */
    font-weight: 600;
}


.event-table tbody tr:not(:last-child) td {
    border-bottom: 1px solid #e5e5e5;
}

/* STATUS */
.status.completed, .status.available {
    color: #22c55e;
    font-weight: 600;
}

.status.unavailable{
	color: red;
	font-weight: 600;
}

.status.in-progress {
    color: #facc15;
    font-weight: 600;
}

.event-details-card {
    background-color: #ffffff;
    border-radius: 18px;
    padding: 18px 30px;
    margin-bottom: 10px;
    border: 3px solid #6c6c6c; /* stroke weight 3 */
}

.event-details-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 15px;
    font-size: 15px;
    color: #111;
}

.event-details-row:last-child {
    margin-bottom: 0;
}

.event-id-link {
    color: #ff8c00;
    text-decoration: none;
    font-weight: 600;
    text-decoration-thickness: 2px;  /* thicker underline */
    text-underline-offset: 3px;      /* space from text */
}

.event-id-link:hover {
    text-decoration: underline;
    text-decoration-color: #ff8c00;
    text-decoration-thickness: 2px;  /* thicker underline */
    text-underline-offset: 3px;      /* space from text */
}

.package-id-link {
    color: #ff8c00;
    text-decoration: none;
    font-weight: 600;
    text-decoration-thickness: 2px;  /* thicker underline */
    text-underline-offset: 3px;      /* space from text */
}

.package-id-link:hover {
    text-decoration: underline;
    text-decoration-color: #ff8c00;
    text-decoration-thickness: 2px;  /* thicker underline */
    text-underline-offset: 3px;      /* space from text */
}

.orange-text {
    color: #ff8c00;
    font-weight: 600;
}

/* PACKAGE SECTION */
.package-section h3 {
    color: #ffffff;
    font-size: 18px;
    margin-top: 3px;
}

.page-desc {
    color: #9e9e9e;
    font-size: 14px;
    margin-bottom: 6px;
}
.table-actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 16px;
}

/* Base button */
.btn {
  padding: 8px 15px;
  border-radius: 20px;
  font-weight: 600;
  font-family: "Poppins";
  cursor: pointer;
  border: none;
}

/* Reset button */
.btn-reset {
  background-color: #d9d9d9;
  color: black;
}

.btn-reset:hover {
  background-color: #C4C4C4;
}

/* Save button */
.btn-save {
  background-color: #ff751f;
  color: #fff;
}

.btn-save:hover {
  background-color: #E65F0E;
}

/* INLINE FORM FIELDS */
.event-field-inline {
    display: flex;
    align-items: center;
    gap: 5px; /* space between label and input */
}

.event-field-inline label {
    font-size: 14px;
    color: #000000;
    width: 100px; /* fixed width for labels to align inputs */
    font-weight: bold;
}

.field-input {
    width: 160px;              /* semua input sama panjang */
    padding: 8px 15px;
    border-radius: 30px;
    background-color: #e6e4e4;
    color: #000;
    border: 1px solid #cfcfcf;
    font-size: 14px;
    outline: none;
    box-sizing: border-box;    /* 🔑 penting */
}


select.field-input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    padding-right: 36px; /* ruang untuk arrow */
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' fill='black' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 7l5 5 5-5'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 14px center;
    background-size: 12px;
}

.event-details-row {
    display: flex;
    gap: 20px;      /* space between fields */
    margin-bottom: 15px;
    flex-wrap: wrap; /* wrap fields if screen is small */
}


.field-input:focus {
    border-color: #ff8c00;
    box-shadow: 0 0 5px #ff8c00;
}

.field-input[readonly] {
    background-color: #e6e4e4;
    color: #000000;
    border: 1px solid #cfcfcf;
    cursor: default;
}

.field-input.highlight-readonly {
    background-color: #cfcfcf;
    color: #ff751f;
    font-weight: 600;
    cursor: not-allowed;
    border: 1px solid #000000;
}


/* ===== MODAL OVERLAY ===== */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

/* ===== MODAL BOX ===== */
.modal-box {
    background: #222;
    color: #fff;
    width: 360px;
    padding: 30px;
    border-radius: 14px;
    text-align: center;
    position: relative;
}

/* Close button */
.modal-close {
    position: absolute;
    top: 12px;
    right: 14px;
    background: none;
    border: none;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
}

/* Title */
.modal-box h2 {
    margin-bottom: 25px;
    font-weight: 600;
}

/* Success Icon */
.success-icon {
    width: 90px;
    height: 90px;
    background: #1db954;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.success-icon i {
    font-size: 42px;
    color: white;
}

/*calendar generate report*/
.date-picker-wrapper {
    position: relative;
    display: inline-block;
}

.calendar {
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
}

.date-range {
    display: flex;
    gap: 10px;
    align-items: center;
}

.date-range input {
    width: 120px;
    padding: 8px;
    cursor: pointer;
    border: solid 1px #727272;
    border-radius: 10px;
    font-family: "Poppins";
}

.calendar {
    width: 280px;
    border: 1px solid #ccc;
    margin-top: 10px;
    padding: 10px;
    background: #fff;
    font-family: "Poppins";
}

.hidden {
    display: none;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.calendar-header button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.calendar-days,
.calendar-dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.calendar-days div {
    font-weight: bold;
    font-size: 12px;
}

.calendar-dates div {
    padding: 8px;
    cursor: pointer;
}

.calendar-dates div:hover {
    background: #eee;
    color:black;
}

.selected {
    background: #007bff;
    color: white;
}

.in-range {
    background: #cfe2ff;
}

.calendar-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.calendar-footer button {
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.reset {
    background: #d5d4d4;
}

.apply {
    background: #007bff;
    color: white;
}